@media only screen and (min-width:601px){
    .bigContainer{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        
        height: 95%;
        border-radius: 15px;
        width: 50%;
        background-color:white ;
    }
    .judul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width:100%;
        border-bottom: solid 2px black;
    }
   
    .judul div{
        font-weight: bold;
        font-size: 40px;
    }
    .wadahIsi{
        height: 90%;
    }

    /* kolom penyetor*/
    .penyetor{
        position: relative;
       margin-top: 3%;
        width: 80%;
        height:5% ;
        margin-left: 10%;
       
    }
    .penyetor input{
        
        width: 100%;
        height: 100%;
        top: 0;
        border: solid 2px black;
        border-radius: 15px;
    }
    .penyetor div{
position: absolute;
top: 0;
margin-top: -15px;
margin-left:45px ;
background-color: white;
    }
    /* kolom nominal*/
    .nominal{
        position: relative;
       margin-top: 4%;
        width: 80%;
        height:5% ;
        margin-left: 10%;
       
    }
    .nominal input{
        
        width: 100%;
        height: 100%;
        top: 0;
        border: solid 2px black;
        border-radius: 15px;
    }
    .nominal div{
position: absolute;
top: 0;
margin-top: -15px;
margin-left:45px ;
background-color: white;
    }
    /* kolom keperluan*/
    .keperluan{
        position: relative;
       margin-top: 4%;
        width: 80%;
        height:15% ;
        margin-left: 10%;
       
    }
    .keperluan textarea{
       
        width: 100%;
        height: 100%;
        top: 0;
        border: solid 2px black;
        border-radius: 15px;
    }
    .keperluan div{
position: absolute;
top: 0;
margin-top: -15px;
margin-left:45px ;
background-color: white;
    }
/* kolom wadah milih belanja*/
.wadahMilihBelanja{
    margin-top:4% ;
    width:80%;
    height: 12%;
    margin-left:10%;
    display: flex;

}
/* kolom wadah milih belanja - kiri*/
.wadahMilihBelanjaKiri{
    width: 80%;
    height: 100%;
   
    box-sizing: border-box;
}
/* kolom wadah milih belanja - kiri - item*/
.item{
    position: relative;
    width:100%;
    height: 35%;
}
.item input{
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-radius: 15px;
}
.item div{
    position: absolute;
    top: 0;
    margin-top: -15px;
    margin-left: 45px;
    background-color: white;
}
/* kolom wadah milih belanja - kiri - wadahQuality*/
.wadahQuantity{
    margin-top: 0.5%;
    height: 64.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
/* kolom wadah milih belanja - kiri - wadahQuality - jumlah*/
    .jumlah{
        position: relative;
        width:30%;
        height: 50%;
        
    }
    .jumlah input{
        width: 100%;
        height: 100%;
        border: solid 2px black;
        border-radius: 15px;
    }
    .jumlah div{
        position: absolute;
        top: 0;
        margin-top: -15px;
        margin-left: 18px;
        background-color: white;
    }

    /* kolom wadah milih belanja - kiri - wadahQuality - satuan*/
    .satuan{
        position: relative;
       
        width:30%;
        height: 50%;
       
    }
    .satuan input{
        width: 100%;
        height: 100%;
        border: solid 2px black;
        border-radius: 15px;
    }
    .satuan div{
        position: absolute;
        top: 0;
        margin-top: -15px;
        margin-left: 18px;
        background-color: white;
    }
/* kolom wadah milih belanja - kiri - wadahQuality - harga*/
.harga{
    position: relative;
    
    width:30%;
    height: 50%;
 
}
.harga input{
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-radius: 15px;
}
.harga div{
    position: absolute;
    top: 0;
    margin-top: -15px;
    margin-left: 18px;
    background-color: white;
}
/* kolom wadah milih belanja - kanan*/
.wadahMilihBelanjaKanan{
height: 100%;
width: 20%;
display: flex;
justify-content: flex-end;
align-items: center;
}
/* kolom wadah milih belanja - kanan - logo tambah*/
.wadahMilihBelanjaKanan img{
    height: 60%;
    width: 50%;
    }
/* Keterangan tidak lengkap*/
    .keteranganTidakLengkap{
        height: 4%;
        color: red;
        width: 100%;
        margin-top:2% ;
        text-align: center;
    }
/* listview */
.listView{
    width: 100%;
    height: 20%;
    overflow: auto;
   
}
/* listView - tabel */
.tabel{
    width: 100%;
   
}
.tabel,.tabel th, .tabel td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tabel td{
    text-align: center;
}
.tabel th{
    position: sticky;
    top:0;
    background-color: rgb(179, 250, 255);
}
/* total harga listView*/
.totalHargaListView{
height: 5%;
width: 100%;
display: flex;
border-top: solid 1px black;
border-bottom: solid 1px black;
border-right: solid 1px black;
}
/* total harga listView tulisan totalnya*/
.totalHargaListView div:nth-child(1){

    width:30%;
   display: flex;
   justify-content: center;
   align-items: center;
    border-right: solid 1px black;
    border-left: solid 1px black;
    font-weight: bold;
    }
/* total harga listView total harganya*/
.totalHargaListView div:nth-child(2){

    width:70%;
   display: flex;
   justify-content: center;
   
    font-weight: bold;
    }
/* button generate */
.generate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 100%;
  
}
/* button generate - button */
.generate button{
height: 50%;
width: 20%;
border-radius: 15px;
}
/* delete di tabel listview */
.delete{
cursor: pointer;
text-decoration: underline;
}
    
}